:root {
  --fuel-town: #576574;
  --wet-asphalt: #34495e;
  --midnight-blue: #2c3e50;
  --imperial-primer: #222f3e;

  --lynx-white:      #f5f6fa;
  --clouds:          #ecf0f1;
  --city-lights:     #dfe6e9;
  --soothing-breeze: #b2bec3;
  --american-river:  #636e72;
  --dracula-orchid:  #2d3436;

  --_1984: #1d9bf0;
}