:root {
  --pink-glamour: #ff7675;
  --alizarin:     #e74c3c;
  --chi-gong:     #d63031;
  --pomegranate:  #c0392b;

  --fuel-town: #576574;
  --wet-asphalt: #34495e;
  --midnight-blue: #2c3e50;
  --imperial-primer: #222f3e;
  --black-pearl:     #1e272e;
  
  --lynx-white:      #f5f6fa;
  --clouds:          #ecf0f1;
  --city-lights:     #dfe6e9;
  --soothing-breeze: #b2bec3;
  --american-river:  #636e72;
  --shadowed-steel:  #4b4b4b;
  --baltic-sea:      #3d3d3d;
  --dracula-orchid:  #2d3436;

  --sun-flower: #f1c40f;

  --_1984: #1d9bf0;
}