@import url('./fonts.css');
@import url('./palette.css');

:root {
  --smooth-shadow: 
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  --realistic-motion-blur: all 0.75s cubic-bezier(.71, 0, .33, 1.56) 0ms;
}

* {
  margin: 0;
  
  font-family: 'Assistant';
  color: var(--dracula-orchid);
  font-weight: 500;
}

html, body, #app, .page {
  flex-direction: column;
  display: flex;

  min-height: 100vh;
}

body {
  background-color: var(--black-pearl);
}

b {
  font-weight: 600;
}

i {
  color: inherit;
}

.showup-panel {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
  flex: 1;
  
  opacity: .825;

  user-select: none;
}

.showup-panel img {
  width:  128px;
  height: 128px;
}

.showup-panel span {
  font-family: 'Raleway';
  color: white;
  font-size: 150%;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;

  width: 82.5%;
}

#searched-videos-area {
  align-items: flex-start;
  flex-wrap: wrap;
  display: none;

  margin: 0 64px 32px;
}

.image-not-found {
  height: 284px;

  border-top-left-radius:  16px;
  border-top-right-radius: 16px;

  background-color: var(--fuel-town);

  justify-content: center;
  align-items: center;
  display: flex;
}

.image-not-found .television-icon {
  width:  96px;
  height: 96px;

  fill: white;
}

::-webkit-scrollbar-track {
  background: var(--black-pearl);
}

::-webkit-scrollbar-thumb {
  background: var(--imperial-primer);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--midnight-blue);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 16px;
}

@media only screen and (max-width: 768px) {
  .showup-panel span {
    font-size: 125%;
  } 

  #searched-videos-area {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    flex: 1;
  }
}